*{
  padding: 0;
  margin: 0;
  line-height: 1.5;
}
input{
  outline: none;
}
body {
  font-family: Roboto;
  font-size: $font-size;
  color: $font-color--primary;
  box-sizing: content-box;
}
main{
  background-color: $bg-color;
  min-height: 100vh;
}